/* 
// Method 1
.challenge {
    width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    // grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;

    & > * {
        background-color: red;
        font-size: 20px;
        font-weight: 800;
        padding: 20px;
    }

    .header {
        grid-column: 1 / -1;
    }

    .small {
        &--box4 {
            grid-column: 4 / 5;
            grid-row: 2 / 4;
        }
    }

    .main {
        grid-column: 1 / span 3;
    }

    .footer {
        grid-column: 1 / -1;
    }
} */
/* // Method 2 Naming Grid Lines
.challenge {
    width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-rows: [head_start] 100px [head_end box_start]200px [box_end main_start]400px [main_end foot_start]100px [foot_end];
    // grid-template-columns: 2fr 2fr 2fr 1.5fr;
    grid-template-columns: repeat(3, [col_start] 1fr [col_end]) 150px [grid_end];
    grid-gap: 15px;

    & > * {
        background-color: red;
        font-size: 20px;
        font-weight: 800;
        padding: 20px;
    }

    .header {
        grid-column: col_start 1 / grid_end;
    }

    .small {
        &--box4 {
            grid-column: col_end 3 / grid_end;
            grid-row: box_start / main_end;
        }
    }

    .main {
        grid-column: col_start 1 / col_end 3;
    }

    .footer {
        grid-column: col_start 1 / grid_end;
    }
} */
/* // Method 3 Naming Grid Areas
.challenge {
    width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, [col_start] 1fr [col_end]) 150px [grid_end];
    grid-gap: 15px;

    grid-template-areas:
        "head head head head"
        "box box box sidebar"
        "main main main sidebar"
        "foot foot foot foot";

    & > * {
        background-color: red;
        font-size: 20px;
        font-weight: 800;
        padding: 20px;
    }

    .header {
        grid-area: head;
    }

    .small {
        &--box4 {
            grid-area: sidebar;
        }
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: foot;
    }
} */
/* container {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;

  display: grid;
  // Using min-content and max-content
  //grid-template-rows: repeat(2, 150px);
  //grid-template-columns: max-content 1fr 1fr min-content;
  //grid-template-rows: repeat(2, min-content);

  // Using minmax function
  //width: 90%;
  //grid-template-rows: repeat(2, minmax(150px, min-content));
  //grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);

  // Using auto-fill and auto-fit
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);

  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;

  .item {
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;

    &--1 { background-color: orangered; }
    &--2 { background-color: yellowgreen; }
    &--3 { background-color: blueviolet; }
    &--4 { background-color: palevioletred; }
    &--5 { background-color: royalblue; }
    &--6 { background-color: goldenrod; }
    &--7 { background-color: crimson; }
    &--8 { background-color: darkslategray; }
  }
} */
.container {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: 80px;
  grid-auto-flow: row dense;
  grid-auto-columns: 0.5fr;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 200px);
  height: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.container .item {
  padding: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}
.container .item--4 {
  background-color: crimson;
  grid-row: 2/span 3;
}
.container .item--6 {
  background-color: lightcoral;
  grid-row: 2/span 2;
}
.container .item--7 {
  background-color: palevioletred;
  grid-column: 1/-1;
}